body {
  display: flex;
  text-align: center;
  justify-content: center;
}

#canvas1 {
  border: 5px solid black;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1280px;
  height: 720px;
}

#start-screen {
  background-color: white;
  position: fixed;
  z-index: 10;
}

#startSound {
  display: none;
}

#instructions {
  /* background: white; */
  background-image: url("starter.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  max-height: 70%;
}

#pauseBtn {
  /* margin: 0px 50px; */
  margin: 0 auto;
}

p {
  /* background-image: radial-gradient(grey, white); */
  color: white;
  font-size: 25px;
  /* border-radius: 15px; */
  /* margin-right: 20%;
  margin-left: 20%; */
  width: 80%;
  line-height: 15pt;
  font-family: "Permanent Marker", cursive;
  display: inline-block;
  /* background: rgba(251, 160, 4, 0.5); */
  border-radius: 20px;
  background-size: auto;
  word-spacing: 10px;
}
